<h2>signin</h2>
<form action="/users/create-session" method="POST">
  <input type="email" placeholder="enter your email" name="email" required />
  <input
    type="password"
    placeholder="enter password"
    name="password"
    required
  />
  <input type="submit" value="Sign in!" />
</form>
