<div class="main-form">
  <form action="/users/create-session" method="POST">
    <div class="form-feilds">
      <input
        type="email"
        placeholder="enter your email"
        name="email"
        required
      />
    </div>
    <div class="form-feilds">
      <input
        type="password"
        placeholder="enter password"
        name="password"
        required
      />
    </div>
    <div class="form-button">
      <input type="submit" value="Sign in!" />
    </div>
  </form>
</div>
