<div class="main-form">
  <form action="/users/create" method="POST">
    <div class="form-feilds">
      <input type="text" name="name" placeholder="your name" required />
    </div>
    <div class="form-feilds">
      <input type="email" name="email" placeholder="your e-mail" required />
    </div>
    <div class="form-feilds">
      <input
        type="password"
        name="password"
        placeholder="enter password"
        required
      />
    </div>
    <div class="form-feilds">
      <input
        type="password"
        name="confirm_password"
        placeholder="Confirm-password"
        required
      />
    </div>
    <div class="form-button">
      <input type="submit" value="signUp!" />
    </div>
  </form>
</div>
